.containerTask {
    width: 736px;
    margin-top: 50px;
    padding: 8px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.tasksHeader {
    display: flex;
    justify-content: space-between;

}

.bodyTasks {
    height: auto;
    display: flex;
    border-top: 1px solid var(--gray-400);
    justify-content: center;
    padding: 64px 24px;
}

.bodyText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-300);
    align-items: center;
}

.counter {
    justify-content: center;
    background-color: var(--gray-300);
    border-radius: 16px;
    text-align: center;
    color: var(--gray-200);
    padding: 2px 8px;
    gap: 10px;

}

.taskContainer {
    display: flex;
    gap: 4px;
    color: var(--purple)
}

.taskContainer1 {
    display: flex;
    gap: 4px;
    color: var(--blue)
}