.taskCard {
    display: flex;
    justify-content: center;
    padding: 16px;
    background: var(--gray-400);
    border-radius: 8px;
}

.taskCheckBoxUntoggled {
    border: solid 2px var(--blue);
    height: 12px;
    min-width: 12px;
    border-radius: 50%;
}

.taskCheckBoxToggled {
    background: var(--purple-dark);
    height: 12px;
    min-width: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;

}