.styleHeader {
    flex: auto;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background: var(--gray-700);
    width: 100dvw;
    height: 12.5rem;

}
